blinker
branca
certifi
charset-normalizer
clic
colorama
decorator
flask
folium
geocoder
geographiclib
geopy
gunicorn
Jinja2
joblib
kiwisolver
Levenshtein
MarkupSafe
numpy
packaging
pandas
Pillow
pipreq
pyparsing
python-dateutil
python-Levenshtein
pytz
rapidfuzz
ratelim
requests
scikit-learn==1.0.2
scipy
six
threadpoolctl
tzdata
urllib3
Werkzeug
google-search-results
serpapi
langchain-google-genai